.AlertBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 347px;
    height: 126px;
    padding: 48px 84px;
    border-radius: 10px;
    background-color: #0026ff80;
}
  
  .closeALert {
    display: flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    height: 20px;
    margin-top: -40px;
    margin-left: -83px;
  }
  
  .fa-xmark {
    margin-top: 0px;
    width: 22px;
    height: 20px;
  }

  .btnAlertBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 31px;
    margin-left: -22px;
}

.btnAlert {
    margin: 20px;
    width: 150px;
    height: 40px;
    color: #000;
    margin-left: 43px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-color: chartreuse;
}

.btnAlertP {
    margin: 20px;
    width: 150px;
    height: 40px;
    color: #000000;
    margin-left: 14px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-color: crimson;
}

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
  }